################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/stest1/v15/Server/sqlite3/db.lock
/.vs/stest1/v15/Server/sqlite3/storage.ide
/.vs/stest1/v15/Server/sqlite3/storage.ide-shm
/.vs/stest1/v15/Server/sqlite3/storage.ide-wal
obj
bin
.idea
.vs